{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
                <br>
                <h1>Nuevo post {{ view_type }}</h1>
                <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.title|as_crispy_field }}
                    <br>
                    {{ form.content|as_crispy_field }}
                    <br>
                    {{ form.thumbnail|as_crispy_field }}
                    <br>
                    {{ form.category|as_crispy_field }}
                    <button class="btn btn-primary pt-2" type="submit">Crear post</button>
                </form>
        {% else %}
                <br>
                <br>
                <div class="cuadro-perfil">
                    <div class="container">
                        <h1 class="texto">Inicie sesión para postear</h1>
                        <br>
                        <a href="{% url 'login' %}" class="ingresar">Iniciar sesión</a>
                    </div>
                </div>
        {% endif %}
            <hr />
            <a href="{% url 'principal' %}" class="botones">Volver</a>
    </div>
{% endblock content %}