{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card" style="pad: 10;">
                <br>
                <h1>{{ object.title}}</h1>
                <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
                <br>
                <div style="padding: 10;">
                    <p>{{ object.content }}</p>
                </div>
                <div>
                    <span><i class="fas fa-comments ml-2"> </i>{{ object.get_comment_count }}</span>
                    <span><i class="fas fa-eye ml-2"> </i>{{ object.get_view_count }}</span>
                    <span><i class="fas fa-thumbs-up ml-2"> </i> {{ object.get_like_count }}</span>
                    <span class="float-right">Posteado hace {{ object.publish_date|timesince }}</span>
                </div>
                <hr/>
                {% if user.is_authenticated %}
                    <div>
                        <h4>Dale "me gusta" a este post</h4>
                        <form method="post" action="{% url 'Post:like' post.id %}">
                            {% csrf_token %}
                            <button class="text.muted" value="{{ post.id }}" name="post_id" type="submit" style="padding: 0; border: none; background: none;">
                                <i class="fas fa-thumbs-up fa-lg" ></i>
                            </button>
                        </form>
                        <hr />
                            <h4>Dejá tu comentario</h4>
                            <div>
                                <a href="{% url 'Post:comment' post.pk %}" class='btn btn-primary'>comentar</a>
                            </div>
                            <hr />
                            <h5>Comentarios</h5>
                            {% for comment in object.comments %}
                                <div class="comentarios">
                                    <h6 class="comentario">{{ comment.content }}</h6>
                                    <small class="comentario">por {{ comment.user }} hace {{ comment.timestamp|timesince }}</small>
                                </div>
                                <hr />
                            {% endfor %}  
                    </div>
                {% else %}
                    <div>
                        <h4>Dale "me gusta" a este post</h4>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <button class="text.muted" value="{{ post.id }}" name="post_id" type="submit" style="padding: 0; border: none; background: none;">
                                <i class="fas fa-thumbs-up fa-lg" ></i>
                            </button>
                        </form>
                        <hr />
                            <h4>Dejá tu comentario</h4>
                            <div>
                                <a href="{% url 'Post:comment' post.pk %}" class='btn btn-primary'>comentar</a>
                            </div>
                            <hr />
                            <h5>Comentarios</h5>
                            {% for comment in object.comments %}
                                <div class="comentarios">
                                    <h6 class="comentario">{{ comment.content }}</h6>
                                    <small class="comentario">por {{ comment.user }} hace {{ comment.timestamp|timesince }}</small>
                                </div>
                                <hr />
                            {% endfor %}
                    </div>
                {% endif %}
                {% if user.is_superuser %}
                    <form action="{% url 'Post:delete' post.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" value="confirm" >Eliminar posteos</button>
                    </form>
                {% endif %}
                <hr />
                <a href="{% url 'Post:list' %}" class="botones">Volver</a>
            </div>
        </div>
    </div>

{% endblock content %}