{% extends "base.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="GET" action="{% url 'Post:buscar' %}">
                <span class="barra-busqueda" style="display: block">
                    <input class="form-control" style="margin-top: 10px; border: 1px solid skyblue; width: 85%; display: inline" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px; float: right; display: inline">Buscar</button>
                </span>
            </form>  
            {% if posts %}    
                {% for p in posts %}
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ p.thumbnail.url }}" class="card-img-top">
                            <div class="card-body">
                                <a href="{% url 'Post:detail' p.id %}">
                                <h5 class="card-title">{{ p.title}}</h5>
                                </a>
                                <p class="card-text">{{ p.content|truncatechars:30 }}</p>
                                <hr/>
                                <p>
                                    <span>
                                        <i class="fas fa-thumbs-up ml-2"> </i>{{ p.get_like_count }}
                                    </span>
                                    <span>
                                        <i class="fas fa-eye ml-2"> </i>{{ p.get_view_count }}
                                    </span>
                                    <span>
                                        <i class="fas fa-comments ml-2"> </i>{{ p.get_comment_count }}
                                    </span>
                                </p>                                        
                                <p class="cardd-text">Posteado hace {{ p.publish_date|timesince }}</p>
                            </div>
                        </div>   
                    </div>
                {% endfor %}
            {% else %}
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-danger mb-5">
                                No hay post para mostrar
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary mt-5" href="{% url 'Post:create' %}">
                                <p class="texto-btnprimary">¡Crear primer post!</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <hr />
            <a href="{% url 'principal' %}" class="botones">Volver</a>
        </div>
    </div>
{% endblock content %}