{% extends "base.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div style="display: block">
                <form method="GET" action="{% url 'Post:buscar' %}">
                    <span>
                        <input class="form-control" style="margin-top: 10px; border: 1px solid skyblue; width: 85%; display: inline" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px; float: right; display: inline">Buscar</button>
                    </span>
                </form>
            </div>
            <div style="display: block">
                <form method="GET" action="{% url 'Post:filtrar' %}">
                    <button type="submit" class="btn btn-primary" style="float: left; display: inline" value="1" name="filtrar">ODS</button>
                </form>
                <form method="GET" action="{% url 'Post:filtrar' %}">
                    <button type="submit" class="btn btn-primary" style="float: left; display: inline" value="" name="filtrar">POSTS</button>
                </form>
                <form method="GET" action="{% url 'Post:list' %}">
                    <button type="submit" class="btn btn-primary" style="float: left; display: inline">ODS/POSTS</button>
                </form>
            </div>
            <h1 class="texto" style="font-size: 40px; text-align: left"> Objetivos de desarrollo sostenible </h1>
            <p style="text-align: left;">
            	El 25 de septiembre de 2015, los líderes mundiales adoptaron un conjunto de objetivos globales para erradicar la pobreza, proteger el planeta y asegurar la prosperidad para todos como parte de una nueva agenda de desarrollo sostenible. Cada objetivo tiene metas específicas que deben alcanzarse en los próximos 15 años.
				Para alcanzar estas metas, todo el mundo tiene que hacer su parte: los gobiernos, el sector privado, la sociedad civil y personas como usted.
			</p>
            {% if author %}
                {% for a in author %}
                    <div class="col-4">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ a.thumbnail.url }}" class="card-img-top">
                                <div class="card-body">
                                    <a href="{% url 'Post:detail' a.id %}">
                                        <h5 class="card-title">{{ a.title}}</h5>
                                    </a>
                                    <p class="card-text">{{ a.content|truncatechars:30 }}</p>
                                    <hr/>
                                    <p>
                                        <span>
                                            <i class="fas fa-thumbs-up ml-2"> </i>{{ a.get_like_count }}
                                        </span>
                                        <span>
                                            <i class="fas fa-eye ml-2"> </i>{{ a.get_view_count }}
                                        </span>
                                        <span>
                                            <i class="fas fa-comments ml-2"> </i>{{ a.get_comment_count }}
                                        </span>
                                    </p>                                        
                                    <p class="cardd-text">Posteado hace {{ a.publish_date|timesince }}</p>
                                </div>
                            </div>   
                        </div>
                {% endfor %}
            {% else %}
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-danger mb-5">
                                No hay post para mostrar
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary mt-5" href="{% url 'Post:create' %}">
                                <p class="texto-btnprimary">¡Crear post!</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <hr />
            <a href="{% url 'principal' %}" class="botones">Volver</a>
        </div>
    </div>
{% endblock content %}