{% extends 'base.html' %}

{% block contenido %}

		<div id="fondo">

			<form method="POST" action="{% url 'logout' %}">{%csrf_token%}
			{{form.errors}}
			</form>


			<div class="texto">Sesión finalizada.</div>
			<br>
			<br>

			<h1 class="frase-bienvenido">BIENVENID@</h1>
			<b>
			</b>

			<h2 class="frase-visilizayactua">Visibilizá y actuá.</h2>
			<h2 class="frase-visilizayactua">Unite a nuestra comunidad.</h2>

			<div class="botones-inicio1">
				<a class="boton-registro" href="{% url 'registro:registro' %}">REGISTRARSE</a>
			</div>
				<br>
				</br>
			<div class="botones-inicio">
				<a href="{% url 'login' %}" class="boton-loginods">Iniciar sesión</a>
			</div>
				<br>
				</br>
			<div class="botones-inicio">
				<a href="{% url 'ods:ods' %}" class="boton-loginods">ODS</a>
			</div>
		
	</div>

{% endblock contenido %}
