{% extends "base.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1 class="texto-perfil">Perfil</h1>
            <div class="cuadro-perfil">
                <div>
                    <div class="container" style="float: center; display: block">
                        <h5 style="display: inline; color: darkgreen">Usuario:</h5>
                        <p class="texto" style="display: inline; color: black">{{ user.username }}</p>
                    </div>
                    <br>
                    <div class="container" style="float: center; display: block">
                        <h5 style="display: inline; color: darkgreen" >Email:</h5>
                        <p class="texto" style="display: inline; color: black">{{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <br>
            <br>
            <div class="cuadro-perfil">
                <div class="container">
                        <h1 class="texto">Inicie sesión para ver perfil</h1>
                        <br>
                        <a href="{% url 'login' %}" class="ingresar">Iniciar sesión</a>
                </div>
            </div>
        </div>
    {% endif %}
    <a href="{% url 'principal' %}" class="botones">Volver</a>
{% endblock content %}