{% extends 'base.html' %}
{% load static %}

{% block contenido %}
	

	<h1 class="frase-bienvenido">BIENVENID@</h1>
	<b>
	</b>

	<h2 class="frase-visilizayactua">Visibilizá y actuá.</h2>
	<h2 class="frase-visilizayactua">Unite a nuestra comunidad.</h2>


	<a class="boton-registro" href="{% url 'registro:registro' %}">REGISTRARSE</a>
	

	<br>
	</br>

	
	<a href="{% url 'login' %}" class="boton-loginods">Iniciar sesión</a>
	

	<br>
	</br>

	
	<a href="{% url 'ods:ods' %}" class="boton-loginods">ODS</a>
	

	<img src="{% static 'img/pexels_paisaje.jpg' %}" class="image-principal">
	
{% endblock contenido %}
