{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div id="fondo">

		{% if user.is_authenticated %}
		
			<h1 class="frase-bienvenido">Bienvenid@ {{user.username}}</h1>
			<br>
			</br>
			<div class="botones-inicio">
				<a href="{% url 'Post:list' %}" class="botones">ODS</a>
			</div>
			<br>
			</br>
			<div class="botones-inicio">
				<a href="" class="botones">Perfil</a>
			</div>
			<br>
			</br>
			<div class="botones-inicio">
				<a href="{% url 'logout' %}" class="botones">Cerrar sesión</a>
			</div>

		{% else %}

			<h1 class="frase-bienvenido">BIENVENID@</h1>
			<b>
			</b>
			<h2 class="frase-visilizayactua">Visibilizá y actuá.</h2>
			<h2 class="frase-visilizayactua">Unite a nuestra comunidad.</h2>

			<div class="botones-inicio1">
				<a class="boton-registro" href="{% url 'usuarios:registro' %}">REGISTRARSE</a>
			</div>
				<br>
				</br>
			<div class="botones-inicio">
				<a href="{% url 'login' %}" class="botones">Iniciar sesión</a>
			</div>
				<br>
				</br>
			<div class="botones-inicio">
				<a href="{% url 'Post:list' %}" class="botones">ODS</a>
			</div>

		{% endif %}

	</div>

{% endblock %}


		
