body{
	font-family: arial, helvetica, sans-serif;
	background: url(pexels-lukas-296282.jpg);
	font-size: 15px;
}

*{
	padding: 0px;
	margin: 0px;
}
/*---------------------plantilla-------------------------*/

.contenido{
	margin: 0px;
	text-align: center;
	display: block;
	background-size: cover;
	min-height: 85vh;
	float: center;
}

.encabezado{
	background-color: skyblue; 
	border-bottom: 5px solid white;
	width: 100%;
	height: 85px;
	margin: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
	line-height: 0px;
}

.linea-encabezado{
	border-bottom: 10px solid skyblue;
}

.pie-de-pagina{
	background-color: white;
	border-top: 10px solid skyblue;
	width: 100%;
	height: 40px;
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	vertical-align: bottom;
}

.imagen-logo{
	margin-top: 10px;
	margin-left: 15px;
	width: 80px;
	height: 80px;
	float: left;
	vertical-align: middle;
	line-height: 0px;
}

.titulo {
	font-size: 65px;
	font-weight: bold;
	color: skyblue;
	-webkit-text-stroke: 3px white;
	padding-right: 20px;
	text-align: left;
	line-height: 100px;
	left:100px;
}

/*----------------------principal------------------------*/
#fondo{
	background-image: url(https://images.pexels.com/photos/296282/pexels-photo-296282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	min-height: 85vh;
	display: block;
}

.frase-bienvenido{
	font-weight: lighter;
	color: royalblue;
	text-align: center;
	margin-bottom: 50px;
	display: inline-block;
	margin-top: 15px;
}

.frase-visilizayactua{
	color: seagreen;
	font-size: 20px;
	margin-bottom: 15px;
	font-style: italic;
}

.botones-inicio1{
	color: royalblue;
	border: 3px solid skyblue;
	border-radius: 20px;
	background-color: skyblue;
	opacity: 0.7;
	width: 250px;
	padding: 20px;
	display: inline-block;
}

.botones-inicio{
	color: royalblue;
	text-decoration: none;
	border: 3px solid skyblue;
	border-radius: 20px;
	opacity: 0.7;
	width: 250px;
	padding: 20px;
	display: inline-block;
}

.boton-registro{
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: seagreen;
	-webkit-text-stroke: 0.15px royalblue;	
}

.botones{
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
	color: seagreen;
	-webkit-text-stroke: 0.15px darkblue;	
}

/*-------------login--------------*/

.contenido-login{
	font-size: 20px;
	display: inline-block;
}

.usuario{
	font-size: 20px;
}

.contraseña{
	font-size: 20px;
}

.ingresar{
	color: seagreen;
	border: royalblue;
	font-weight: bold;
	background-color: white;
	font-size: 20px;
	border-radius: 20px;
	padding: 5px;
	text-decoration: none;
}

.cuadro-login{
	background-color: skyblue;
	border: 3px solid skyblue;
	border-radius: 20px;
	opacity: 0.7;
	width: 300px;
	padding: 30px;
	display: inline-block;
	margin-top: 35px;
}

.boton-volver-login{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.texto{
	color: seagreen;
	font-size: 20px;
}

/*-------------registro--------------*/

.contenido-registro{
	font-size: 20px;
	display: inline-block;
}

.usuario{
	font-size: 20px;
}

.contraseña{
	font-size: 20px;
}

.registrarse{
	color: seagreen;
	border: royalblue;
	font-weight: bold;
	background-color: white;
	font-size: 20px;
	border-radius: 20px;
	padding: 5px;
}

.cuadro-registro{
	background-color: skyblue;
	border: 3px solid skyblue;
	border-radius: 20px;
	opacity: 0.7;
	width: 300px;
	padding: 30px;
	display: inline-block;
	margin-top: 35px;
}

.boton-volver-registro{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.texto{
	color: seagreen;
	font-size: 20px;
}

/*---------------perfil-----------------*/

.cuadro-perfil{
	background-color: skyblue;
	border: 3px solid skyblue;
	border-radius: 20px;
	opacity: 0.7;
	width: 300px;
	padding: 30px;
	display: inline-block;
	margin-bottom: 35px;
}

.texto-perfil {
	margin-top: 10px;
}

.btn-primary {
	margin: 30px;
	margin-bottom: 10%;
}

.texto-btnprimary {
	font-size: 25px;
}

/*--------------------------------*/


.boton-volver{
	color:  royalblue;
	font-size: 15px;
	text-decoration: none;
}
/*--------------------------------*/